@use './utils/colors';

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=League+Spartan:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

body{
    width: 100vw;
    min-width: 1440px;
    height: 100vh;
    background-color: colors.$LightGrayishCyanBackground;
}

#header{
    background-color:  colors.$DesaturatedDarkCyan;
    height: 156px;
    width: 100%;
    min-width: 1440px;

    > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#jobListing{
    padding: 100px 150px;
    width: 100%;
    height: 1000px;

    .job-tile{
        width: 100%;
        height: 180px;
        background-color: colors.$White;
        border-radius: 8px;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
        display: flex;
        justify-content: flex-start;
        align-items: center;

        > .company-logo{
            width: 16%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            > img{
                width: 60%;
            }
        }

        > .job-description{
            height: 100%;
            width: 84%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px 10px 0px;

            > .job-type{

                > .job-header-tags{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    > p{
                        font-size: 18px;
                        font-weight: 700;
                        color: colors.$DesaturatedDarkCyan;
                    }

                    > .new-tag{
                        color: colors.$White;
                        font-weight: 600;
                        font-size: 15px;
                        margin: 0px 14px;
                        padding: 6px 8px 4px 8px;
                        border-radius: 14px;
                        background-color: colors.$DesaturatedDarkCyan;
                    }

                    > .featured-tag{
                        color: colors.$White;
                        font-weight: 600;
                        font-size: 15px;
                        padding: 6px 8px 4px 8px;
                        border-radius: 14px;
                        background-color: colors.$VeryDarkGrayishCyan;
                    }
                }

                > h1{
                    margin: 14px 0px;

                    &:hover{
                        color: colors.$DesaturatedDarkCyan;
                    }
                }

                > .job-details{
                    color: colors.$DarkGrayishCyan;
                    font-weight: 500;
                }
            }

            > .job-tags{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px 30px;

                > .frontend-tag{
                    margin: 0px 10px;
                    background-color: colors.$LightGrayishCyanFilterTabs;
                    padding: 8px;
                    font-size: 17px;
                    font-weight: 700;
                    color: colors.$DesaturatedDarkCyan;
                }
            }
        }
    }
}